.MuiContainer-root {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: center;
}
.makeStyles-root-245 {
    width: 100% !important;
     max-width: none !important;
     background-color: rgba(231, 232, 245, 0.966);

}
.MuiListItem-gutters {
    text-align: center !important;
}