Main{
    display: flex!important;
    justify-content: center !important;
}
.MuiToolbar-root .MuiToolbar-regular .MuiToolbar-gutters{
    display: flex!important;
    justify-content: space-between !important;
}